.goButton {
    padding: 10px 80px;
    border: 0;
    border-radius: 25px;
    font-size: 1.3rem;
    background-color: rgb(204, 110, 75);
    cursor:grab;
    color: rgb(230, 230, 230);
    font-family: 'Poppins', sans-serif;
}

.goButton:hover {
    background-color: rgb(175, 79, 45);
    
}