.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;

}

.resultsText {
  font-size: 2.3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 0;
}

.container {
  height: 98vh;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  background-color: rgba(255, 248, 220, 0.1);
  border-radius: 10px;
  padding: 0px 20px;
}

button {
  margin: 10px;
}

.editButton {
  padding:  5px 80px;
  border: 2px solid  rgb(209, 112, 77);
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: inherit;
  cursor:grab;
  color: rgb(209, 112, 77);
  font-family: 'Poppins', sans-serif;

}

.editButton:hover {
  border: 2px solid  rgb(175, 79, 45);
  color: rgb(175, 79, 45);
}

.goButton {
  padding: 5px 80px;
  border: 2px solid   rgb(209, 112, 77);
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgb(209, 112, 77);
  cursor:grab;
  color: rgb(230, 230, 230);
  font-family: 'Poppins', sans-serif;
}

.goButton:hover {
  background-color: rgb(175, 79, 45);
  border: 2px solid  rgb(175, 79, 45);
  
}

.editGoButtons {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1;
  justify-content: space-evenly;
  margin: 20px;
  
}




.listModal {
  background-color: rgb(247, 133, 92);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 9px rgb(67, 119, 145);
  max-height: 80vh;
}





.closeWindowButton {
  padding: 3px 8px;
  border: 0;
  border-radius: 50px;
  margin: 10px;
  margin-left: auto;
  font-size: 1.2rem;
  box-shadow: 0 0 9px rgb(163, 86, 58);
}


.list {
  overflow-y: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background: rgba(238, 238, 238, 0.46);
  box-shadow: inset 0 0 5px rgba(165, 164, 164, 0.994);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(118, 116, 116); 
  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80); 
}

.itemName {
  background-color: rgba(250, 250, 250, 0.534);
  margin: 10px;
  padding-left: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.deleteButton {
  margin: 0px;
  margin-left: auto;
  border: 0;
  border-radius: 0px 10px 10px 0px;
  font-size: 1.2rem;
  cursor: grab;
}


.inputArea {
  padding: 10px;
  background-color:rgb(247, 133, 92);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
  
}

.inputTextArea {
  border: 0;
  border-radius: 10px 0 0 10px;
  font-size: 1.2rem;
  padding: 10px;
}

.submitButton {
  border: 0;
  border-radius: 0 10px 10px 0;
  font-size: 1.2rem;
  padding: 10px;
  color: rgb(237, 236, 235);
  background-color: rgb(73, 122, 155);
  margin: 0;
}

.submitButton:hover {
  cursor: grab;
  background-color: rgb(58, 97, 122);
}