.inputArea {
    padding: 10px;
}

.inputTextArea {
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
    padding: 10px;
}

.submitButton {
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1.2rem;
    padding: 10px;
    color: rgb(237, 236, 235);
    background-color: rgb(73, 122, 155);
}

.submitButton:hover {
    cursor: grab;
    background-color: rgb(58, 97, 122);
}